.footer {
  padding: 60px 70px 0px 70px;
  /* margin-bottom: 10px; */
}
.footer .logo img {
  width: 50%;
  margin-bottom: 1rem;
}
.footer p {
  color: var(--text-color);
  line-height: 1.5rem;
}
.social-links span a {
  text-decoration: none;
  color: var(--heading-color);
  font-style: 1.3rem;
}

.footer_quick_links li a {
  text-decoration: none;
  color: var(--heading-color);
}
.footer_links_title {
  color: var(--text-color);
  margin-bottom: 1rem;
  font-size: 1.2rem;
}
.footer_quick_links h6 span {
  color: var(--secondary-color);
  font-size: 1.1rem;
  margin-bottom: 2px;
}
.copyright {
  text-align: center;
  color: var(--text-color);
  margin-top: 2.5rem;
}
